*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box !important;
}

.sidebar{
    position: fixed;
    background: rgba(23, 23, 54, 0.8);
    height: 100%;
    width: 70px;
    z-index: 1;
}

.sidebar .logo{
    background: #000070;
    padding: 11px;
}

.sidebar .logo img{
    width: 35px;
    height: 35px;
    margin-left: 15px;
}

.footer{
    position: relative;
    top: 310px;
    border-top: 2px solid #676B87;
}

.content{
    width: 94.6%;
    position: relative;
    left: 70px;

}

ul.navbar-nav{
    display: flex;
    justify-content: flex-end;
}

button.btn i.fa.fa-search{
    position: absolute;
    left: 12.5%;
    right: 14.63%;
    top: 12.5%;
    bottom: 14.62%;
    background: #C9CED6 !important;
}

input.form-control.form-control-sm{
    border: 0px !important;
    outline: 0px !important;
}

aside.d-flex strong{
    font-family: Futura Bk BT;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    text-align: right;
    letter-spacing: 0.01em;
    color: #000070;
}

aside.d-flex small{
    color: #A6ACBE;
}

aside#user{
    background-color: #000070;
    border-radius: 20px;
    padding: 4px;
    width: 40px;
    height: 40px;
    color: white !important;
    align-content: center;
}

aside#user a{
    color: inherit;
}

aside#user a:hover{
    text-decoration: none;
}


ul.navbar-nav.ml-auto{
    width: 300px !important;
}

ul.navbar-nav.ml-auto a .caret{
    bottom: 37.5%;
    color: #C9CED6;
}

ul.navbar-nav.ml-auto sup{
    background-color: #000070;
    color: white;
    height: fit-content;
    border-radius: 20px;
    font-size: 9px;
    position: relative;
    top: -10px;
    left: -7px;
}

div.container div#first-row{
    background: rgba(0, 0, 112, 0.75);
}

div.container div#first-row .btn{
    background-color: #FFB800; 
    font-size: smaller; 
    width: 200px; 
    border-radius: 15px;
    font-size: smaller; 
    width: 200px;
}

.btn-warning{
    color: white;
}
div.container div.row{
    border-radius: 11.0889px;
}

#sales-form{
    background: rgba(0, 0, 112, 0.75);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

select.sel1{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

select.sel2{
    opacity: 0.3;
    border: 0px 0px 1px 0px solid #FFFFFF;
    
}

.form-group{
    margin-bottom: 12px !important;
}

@media screen and (max-width: 768px){
    .content nav.navbar{
        width: 100% !important;
    }

    .btn-warning{
        margin-bottom: 10px;
    }

    #first-row .col-lg-6.col-md-6.col-sm-6 .btn{
        width: 150px;
        font-size: 12px;
    }

    nav ul.navbar-nav.ml-auto{
        margin-left: 0px !important;
        flex-direction: row;
        margin-top: 10px;
    }

    nav ul.navbar-nav.ml-auto aside strong{
        text-align: left;
        /* margin-bottom: 10px; */
    }

    .content .container{
        padding: 20px;
    }

    #third-row .third-row div.col-lg-5{
        width: 250px !important;
        height: 140px;
        font-size: 14px;
        margin: 10px 10px 10px 10px ;
    }

    #third-row .third-row div.col-lg-5 img{
        height: 40px;
        width: 40px;
    }

    #third-row{
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    #third-row  #sales-form{
        width: 280px;
        margin: 4px auto;
    }

    #third-row .chartdiv .shadow{
        width: 300px;
        margin: 4px auto;
    }

    .footer{
    }

    .footer h6{
        font-size: 12px;
    }
}